@import '../../../sass/variables.scss';

.productContainer {
    padding: $spacing-200;

    .flexContainer {
        display: flex;
    }

    .product__image {
        flex: 0 1 680px;
        max-height: 680px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .product__info {
        flex: 1 0 300px;
        margin-left: $spacing-100;
    }

    .product__condition {
        font-size: $font-200;
    }

    .product__title {
        margin-top: $spacing-100;
        font-size: $font-500;
    }

    .product__price {
        font-size: $font-700;
        margin: $spacing-200 0;
        white-space: nowrap;

        span {
            display: inline-block;
            padding-top: 0.25em;
            padding-left: 0.25em;
            vertical-align: top;
            font-size: $font-500;
        }
    }

    button {
        width: 100%;
    }

    .product__description {
        margin-top: $spacing-200 * 2;
        max-width: 70ch;

        h3 {
            color: $gray-400;
            font-size: $font-600;
            margin-bottom: $spacing-200;
        }
    }

    @media (max-width: $breakpoint-lg) {
        .flexContainer {
            flex-direction: column;
        }

        .product__image {
            flex: 0;
            margin-bottom: $spacing-200;
        }

        .product__info {
            flex: 0;
            margin-left: 0;
        }

        .product__price {
            margin: $spacing-100 0;
        }

        .product__description {
            max-width: 100%;
        }
    }

    @media (max-width: $breakpoint-xs) {
        .product__title {
            font-size: $font-400;
            line-height: 1.5;
        }

        .product__price {
            font-size: $font-600;

            span {
                font-size: $font-300;
            }
        }

        .product__description h3 {
            font-size: $font-500;
            margin-bottom: $spacing-100;
        }
    }
}
